<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
    
    <connectionStrings>
        <add name="conn" connectionString="Data Source = DESKTOP-5PSSEM5//SQLEXPRESS; Integrated Security=true;  Database=QLBanSach"
            providerName="System.Data.SqlClient" />
        <add name="QLBanSachConnectionString" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLBanSachConnectionString2" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLBanSachConnectionString3" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLBanSachConnectionString4" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLBanSachConnectionString5" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
</configuration>
