@charset "utf-8";
/* CSS Document */

body form table tr td b
{
	background-color: aliceblue;
}

body form
{
	text-align: center; 
	position: absolute;
	left: 500px;
	top: 200px;
	margin-bottom: auto;
	border-radius: 200px;
	boder: 700px solid #206AB5;
}